$purple : #2B0C54;
$green : #cbffc3;
$orange : #DD6820;
$font-family : "Open Sans", sans-serif;
$font-size-h1 : 2.8em;
$font-size-h2 : 2.5em;
$font-size-h3 : 2.3em;
$font-size-h4 : 1.8em;
$font-size-default : 1.6em;

html {
    font-size:62.5%;
    scroll-behavior: smooth;

    body {
        font-size : $font-size-default;
        font-family : $font-family;
        color:$purple;
        background-color: $green;
        margin:0;
        padding:0;
        box-sizing:border-box;
        line-height:1.6em;

        .menu {
            a {
                padding:1em;
                color:$purple;
                background-color:$orange;
                position:absolute;
                top:-1000px;
                left:0;
            }
            a:focus {
                top:0;
            }
        }

        header {
            background-color:$purple;
            color:$green;

            section {
                max-width:80vw;
                margin:0 auto;
                padding:.5em 0;
                display:grid;
                grid-template-columns:repeat(2, auto);
                grid-template-rows:repeat(2, auto);

                >section {
                    grid-column:1/2;
                    grid-row:1/2;
                    display:flex;
                    flex-wrap:no-wrap;
                    align-items:center;
    
                    h1 {
                        font-size:$font-size-h1;
                        text-transform:uppercase;
                        color:$orange;
    
                        svg {
                           color:$orange;
                        }
                    }
    
                    h2 {
                        font-size:1.2em;
                        padding:0 0.5em;
                        text-transform: uppercase;
                    }
                }
    
                >article {
                    grid-column: 2/3;
                    grid-row:1/2;
                    display:flex;
                    justify-content:flex-end;
                    align-items:center;

                    section {
                        text-align:right;
                        margin:0 1em;

                        a {
                            text-decoration:none;
                            color:$green;
                        }
                        a:hover {
                            font-weight:600;
                        }
                        .dropdown {
                            display:none;
                        }
                    }

                    img {
                        width:8%;
                        border-radius:50%;
                    }
                }
    
                nav {
                    grid-column:1/3;
                    grid-row:2/3;
                    padding-top:1.4em;

                    ul {
                        display:flex;
                        justify-content:center;

                        li {
                            &.hidden {
                                display:none;
                            }
                            a {
                                text-decoration:none;
                                color:$green;
                                padding:.8em 1.5em;
                            }
                            a:hover {
                                text-decoration:underline;
                                background-color:$green;
                                color:$purple;
                            }
                        }
                    }
                }
            }
        }

        main {
            margin:0 auto;

            .widgets {
                max-width:80vw;
                margin:0 auto;
                display:flex;
                justify-content:space-between;
                padding:1em 0;

                article:first-of-type {
                    display:flex;
                    align-items:center;

                    h2 {
                        font-size:$font-size-h4;
                        text-transform: uppercase;
                    }
                    >p {
                        margin-left:.5em;
                    }
                }

                article:nth-of-type(2) {
                    display:flex;
                    flex-direction:column;

                    p {
                        text-align:right;
                        span {
                            font-size:$font-size-h4;
                            font-weight:600;
                            margin-right:0.2em;
                        }
                    }
                }
            }

            .slider {
                background-color:$purple;
                color:$green;
                padding:1.6em 0;

                .principal-news {
                    max-width:80vw;
                    margin:0 auto;
                    display:grid;
                    grid-template-columns: 70% 30%;
                    grid-template-rows: repeat(2, auto);

                    .hidden {
                        display:none;
                    }

                    >article:first-of-type {
                        grid-column:1/2;
                        grid-row:1/3;
                        padding-right:1em;

                        img {
                            width:100%;
                        }

                        .author {
                            font-style:italic;
                        }

                        h3 {
                            font-size:$font-size-h3;
                            margin:0.4em 0;

                            a {
                                text-decoration:none;
                                color:$orange;
                            }
                        }
                    }

                    >article:nth-of-type(2) {
                        grid-column:2/3;
                        grid-row:1/2;
                        padding-bottom:0.4em;

                        img {
                            width:100%;
                        }

                        .author {
                            font-style:italic;
                        }

                        h3 {
                            font-size:$font-size-h4;
                            margin:0.4em 0;

                            a {
                                text-decoration:none;
                                color:$orange;
                            }
                        }
                        
                    }

                    >article:nth-of-type(3) {
                        grid-column:2/3;
                        grid-row:2/3;

                        img {
                            width:100%;
                        }

                        .author {
                            font-style:italic;
                        }

                        h3 {
                            font-size:$font-size-h4;
                            margin:0.4em 0;

                            a {
                                text-decoration:none;
                                color:$orange;
                            }
                        }
                    }
                }
            }

            .other-part {
                max-width:80vw;
                margin:0 auto;
                display:grid;
                grid-template-columns: 80% 20%;
                padding:2em 0;

                .trending {
                    grid-column:2/3;
                    grid-row:1-2;

                    h3 {
                        font-size:$font-size-h3;
                        color:$orange;
                        font-weight:600;
                        text-align:center;
                    }

                    article {
                        padding:1em 0;

                        .author {
                            font-style:italic;
                        }
                        h4 {
                            font-size:1.6em;

                            a {
                                text-decoration:none;
                                color:$purple;
                            }
                            a:hover {
                                font-weight:bolder;
                            }
                        }
                    }
                }

                .other-news {
                    grid-column:1/2;
                    grid-row:1-2;
                    display:grid;
                    grid-template-columns:repeat(2, auto);
                    grid-template-rows:repeat(4, auto);
                    padding:0 .8em;

                    h3 {
                        grid-column:1/3;
                        grid-row:1/2;
                        font-size:$font-size-h3;
                        color:$orange;
                        font-weight:600;
                        text-align:center;
                        padding-bottom:.7em;
                    }

                    article {
                        padding:0 .6em;
                        padding-bottom:.8em;

                        img {
                            width:100%;
                        }

                        .author {
                            font-style:italic;
                        }

                        h4 {
                            font-size:$font-size-h4;
                            padding:.3em 0;

                            a {
                                text-decoration:none;
                                color:$orange;
                            }
                            a:hover {
                                font-weight:bolder;
                            }
                        }
                    }

                    // article:first-of-type {
                    //     grid-column:1/2;
                    //     grid-row:2/3;
                    // }
                    // article:nth-of-type(2) {
                    //     grid-column:2/3;
                    //     grid-row:2/3;
                    // }
                    // article:nth-of-type(3) {
                    //     grid-column:1/2;
                    //     grid-row:3/4;
                    // }
                    // article:nth-of-type(4) {
                    //     grid-column:2/3;
                    //     grid-row:3/4;
                    // }
                }
            }
        }

        footer {
            background-color:$purple;
            color:$green;

            >article:first-of-type {
                max-width:80vw;
                margin:0 auto;
                display:flex;
                justify-content:space-between;
                padding:1em 0;

                >section {
                    
                    h1 {
                        font-size:$font-size-h1;
                        text-transform:uppercase;
                        color:$orange;
    
                        svg {
                           color:$orange;
                        }
                    }
    
                    h2 {
                        font-size:1.2em;
                        padding:0 0.5em;
                        text-transform: uppercase;
                    }
                }

                form {
                    display:flex;
                    align-items:center;

                    label {
                        margin-right:1em;
                    }
                    input:first-of-type {
                        height:2.5em;
                        width:16em;
                        background-color:rgba(255,255,255,.5);
                        border:none;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                    }
                    input::placeholder {
                        color:$purple;
                    }
                    input:nth-of-type(2) {
                        height:2.6em;
                        background-color:$orange;
                        border:none;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                        font-family:$font-family;
                    }
                    
                }
            }

            .socials {
                display:flex;
                flex-direction:column;
                align-items:center;

                h3 {
                    color:$orange;
                    font-size:$font-size-h4;
                }
                a {
                    text-decoration:none;
                    color:$green;

                    svg {
                        padding:1em 1.2em;
                    }
                }
            }

            nav {
                padding:1em 0;

                ul {
                    display:flex;
                    justify-content: center;

                    li {

                        a {
                            padding:0 1em;
                            text-decoration:none;
                            color:$green;
                            font-size:1em;
                        }
                    }
                }
            }
        }
    }
}

